<!-- templates/home.html

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - eCommerce</title>
</head>
<body>
    <h1>Products</h1>
    <ul>
        {% for product in products %}
            <li>
                <h2>{{ product.name }}</h2>
                <p>Price: ${{ product.price }}</p>
                <a href="{{ url_for('product_details', product_id=product['id']) }}">View Details</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html> -->



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - eCommerce</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <div class="container">
        <h1>Products</h1>
        <ul>
            {% for product in products %}
            <li>
                <h2>{{ product.name }}</h2>
                <p class="product-price">Price: ${{ product.price }}</p>
                <a class="details-link" href="{{ url_for('product_details', product_id=product['id']) }}">View
                    Details</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>

</html>